.DS_Store
._*
*/.DS_Store

# Data folders
web/data/
scripts/output/

# Python
__pycache__/
*.pyc

# Node/JS  
node_modules/
web/eke_ultra_optimized/
web/eke_ultra_optimized/
web/data/cmems_EKE_data/
web/data/currents_bin/
web/data/hycom_data/
web/data/eke_hycom_grid/
web/data/current_heatmaps/
